html {
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 850px)  {
    html {
        font-size: 14px;
    }
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans, sans-serif;
}

:root {
    --primary-color: #354131;
    --button-color: #E38800;
}

 /* Landing Page CSS */

.landingTopContainer {
    background-image: url("./images/man_dog_photo.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 600px) {
    .landingTopContainer {
        height: 500px;
    }
    
}

.landingHeaderContainer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.landingLinksContainer {
    display: flex;
    gap: 3rem;
}

@media screen and (max-width: 600px) {
    .landingLinksContainer {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
}

.landingLink {
    font-size: 1rem;
    cursor: pointer;
}

.landingLink:hover {
    color: var(--button-color);
}

.landingInformation {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.landingInformationContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}

@media screen and (max-width: 600px) {
    .landingTitle {
        font-size: 1.5rem;
    }
    .landingBlurb {
        display:none;
    }
    
}

.landingBtnContainer {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .landingBtnContainer {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        gap: 2rem;
    }
    
}


.scheduleNowBtn {
    background-color: var(--button-color);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.learnMoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .learnMoreBtn {
        color: white;
    }
}

.learnMoreBtn img {
    height: 1.5rem;
    margin-left: .5rem;
}


.landingMiddleContainer {
    padding: 3rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

@media screen and (max-width: 1000px) {
    .landingMiddleContainer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
}

.infoContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
    width: 20rem;
}

@media screen and (max-width: 1000px) {
    .infoContainer {
        padding: 1rem 0;
    }
    
}

.infoContainer img {
    height: 15rem;
    width: 20rem;
    object-fit: cover;
}

.infoContainer h3 {
    font-size: 1.5rem;
}

.infoContainer p {
    font-size: .8rem;
    font-weight: 300;
}

.landingBottomCTA {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 7rem 5rem;
}

/* Footer CSS */

.footerContainer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    color: white;
}

.footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.footerInfo p {
    font-size: 1rem;
    font-weight: 300;
}